<header id="top" class="position-sticky top-0 start-0 nav-shadow" style="z-index:10;">
  <nav class="navbar bg-white fixed-top">
    <div class="container-fluid">
      <div class="d-flex g-4">
        <a class="navbar-brand d-flex" href="#">
          <img src="assets/images/name-logo.png" class="img-fluid" id="logo" width="20%">
        </a>
        <div class="icon px-5">
          <a href="mailto:ms_danniel@outlook.com" class="text-decoration-none">
            <i class="fa-solid fa-envelope"></i>
          </a>
          <a href="https://github.com/ms-daniel" class="text-decoration-none" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <i class="fa-solid fa-burger fa-bounce"></i>
      </button>
      <div class="offcanvas offcanvas-end text-white bg-black" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close btn-close-white ms-3" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav flex-grow-1 p-4">
            <li class="nav-item">
              <a class="nav-link active text-uppercase ls-4 text-white" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase ls-4 text-white" aria-current="page" href="index.html">Portfolio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase ls-4 text-white" aria-current="page" href="index.html">Single Portfolio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase ls-4 text-white" aria-current="page" href="index.html">Single Post
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase ls-4 text-white" aria-current="page" href="index.html">Styles
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase ls-4 text-white" aria-current="page" href="index.html">Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase ls-4 text-white" aria-current="page" href="index.html">Team
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase ls-4 text-white" aria-current="page" href="index.html">Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
